<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #casinoForm="ngForm">
      <div class="form-group">
        <label for="Building Number"> Building Number</label>
        <input type="number" [(ngModel)]="casinoBuilding.buildingNumber"
               class="form-control"
               id="Building Number"
               name="Building Number"
               placeholder="Enter Building Number"
               required #CasinoNumber="ngModel">
      </div>
      <div [hidden]="!CasinoNumber.invalid" class="alert alert-danger">Casino Building Number is required</div>
      <div class="form-group">
        <label for="adress"> CEO</label>
        <input type="text" [(ngModel)]="casinoBuilding.adress"
               class="form-control"
               id="adress"
               name="adress"
               placeholder="Enter adress of the building"
               required #ceo="ngModel">
        <div [hidden]="!ceo.invalid" class="alert alert-danger">Building adress required</div>
      </div>
      <div>
        <pre>        </pre>
        <div class="form-group">
            <select (click)="onDropDownClick()" name="buildingDropDown"  [(ngModel)]="companyName" required #dropdown = "ngModel">
              <option disabled selected value> -- select an option -- </option>
              <option *ngFor="let name of companyNames"  [value]="name"  selected = "true" ><pre>{{ name }}</pre> </option>
            </select>
        </div>
        <div [hidden]="!dropdown.pristine" class="alert alert-danger">Choose name of Company of origin!</div>
        <pre>        </pre>
      </div>
      <pre>        </pre>
      <button type="submit" [disabled]="!casinoForm.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
