<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #casinoForm="ngForm">
      <div class="form-group">
        <label for="Building Number"> Building Number</label>
        <input type="number" [(ngModel)]="casinoBuilding.buildingNumber"
               class="form-control"
               id="Building Number"
               name="Building Number"
               placeholder="Enter Building Number"
               required #CasinoNumber="ngModel">
      </div>
      <div [hidden]="!CasinoNumber.pristine" class="alert alert-danger">Casino Building Number is required</div>
      <div class="form-group">
        <label for="adress"> CEO</label>
        <input type="text" [(ngModel)]="casinoBuilding.adress"
               class="form-control"
               id="adress"
               name="adress"
               placeholder="Enter adress of the building"
               required #ceo="ngModel">
        <div [hidden]="!ceo.pristine" class="alert alert-danger">Building adress required</div>
      </div>
      <button type="submit" [disabled]="!casinoForm.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
