<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #testForm="ngForm">
      <div class="form-group">
        <label for="adress">adress</label>
        <input type="text" [(ngModel)]="company.email"
               class="form-control"
               id="adress"
               name="adress"
               placeholder="Enter your name"
               required #adress="ngModel">
      </div>
      <div [hidden]="!adress.pristine" class="alert alert-danger">adress is required</div>
      <div class="form-group">
        <label for="casino number"> Casino Numberl</label>
        <input type="text" [(ngModel)]="company.name"
               class="form-control"
               id="casino number"
               name="casino number"
               placeholder="Enter your casino number"
               required #casino_number="ngModel">
        <div [hidden]="!casino_number.pristine" class="alert alert-danger">Casino_number is required</div>
      </div>
      <button type="submit" [disabled]="!testForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
