<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th> </th>
        <th scope="col">db ID </th>
        <th scope="col">Full name</th>
        <th scope="col">Occupation</th>
        <th scope="col">Date Of Birth</th>
        <th scope = "col">Salary</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let worker of workers">
        <button type="button"  (click)="update($event)" class = "buttonEdit"  id= "{{worker.id}}" >Edit</button>
        <button type="button" (click)="delete($event)" class = "buttonDelete" id=" {{worker.id}}"  > X </button>
        <td>{{ worker.id }}</td>
        <td>{{ worker.fullName }}</td>
        <td>{{ worker.occupation}}</td>
        <td>{{ worker.dateOfBirth }}</td>
        <td>{{ worker.salary}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
