<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #companyForm="ngForm">
      <div class="form-group">
        <label for="Company Name">Company Name</label>
        <input type="text" [(ngModel)]="company.companyName"
               class="form-control"
               id="Company Name"
               name="Company Name"
               placeholder="Enter Company Name"
               required #CompanyName="ngModel">
      </div>
      <div [hidden]="!CompanyName.invalid" class="alert alert-danger">Company Name is required</div>
      <div class="form-group">
        <label for="CEO"> CEO</label>
        <input type="text" [(ngModel)]="company.ceo"
               class="form-control"
               id="CEO"
               name="CEO"
               placeholder="Enter your casino number"
               required #ceo="ngModel">
        <div [hidden]="!ceo.invalid" class="alert alert-danger">Chief executive officer is required</div>
      </div>
      <div class="form-group">
        <label for="Share Price"> Share Price</label>
        <input type="number" [(ngModel)]="company.sharePrice"
               class="form-control"
               id="Share Price"
               name="Share Price"
               placeholder="Enter your casino number"
               required #ceo="ngModel">
        <div [hidden]="!ceo.invalid" class="alert alert-danger">Share Price is required</div>
      </div>
      <button type="submit" [disabled]="!companyForm.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
